
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/errorPage/css/styles.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/errorPage/css/responsive.min.css" media="screen and max-width(768px)">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap" rel="stylesheet">
    <title>404</title>
</head>
<body>
    <header class="container">
        <span class="text text_header">404 not found</span>
    </header>
    <main class="container">
        <section class="hero">
            <img class="hero-image" src="~/errorPage/Scarecrow.png" alt="Image404">
            <div class="hero-info">
                <h1 class="text text__title">I have bad news for you </h1>
                <p class="text text__description">The page you are looking for might be removed or is temporarily unavailable</p>
             
            </div>
        </section>
    </main>
    <footer class="container tasite-footer">
        <hr>
    
    </footer>
</body>
</html>
